.gitment-comment-main, .gitment-editor-main {

    background-color: white;
}
.gitment-editor-tabs {
    background-color: #5c6bc0;
    color: white;
}
.gitment-editor-login{
	background-color: white;
}