{% if page.comments != false %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'yxnne',
    repo: 'yxnne.github.io',
    oauth: {
        client_id: '5e768409612b3e27d186',
        client_secret: 'a3f238eed1df9d94daa41eb627729fbaedf0596a',
    },
});
gitment.render('gitmentContainer');
</script>
{% endif %}
