---
layout: default
---

<div class="post-ribbon"></div>

<div class="container post-container">
  <div class="post-page card-panel z-depth-2">
  <div class="post-section">

    <p class="grey-text">
      <i class="mdi mdi-calendar"></i>&nbsp;
      {% if page.date %}{{ page.date | date: "%b %-d, %Y" }}{% else %}unknown{% endif %}
      &nbsp;&nbsp;<i class="mdi mdi-account-circle"></i>&nbsp;
      {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
      &nbsp;&nbsp;<i class="mdi mdi-label"></i>&nbsp;
      {% if page.categories %}<span class="capitalize">{{ page.categories }}</span>{% else %}unknown{% endif %}
      &emsp;<i class="mdi mdi-refresh"></i>&nbsp;UPDATE: {% if page.update %}{{ page.update | date: "%b %-d, %Y" }}{% else %}{{ page.last_modified_at | date: "%b %-d, %Y" }}{% endif %}
    </p>

    <div class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>

      {% if page.tags %}
        <i class="post-tag mdi mdi-tag-multiple waves-effect waves-light"></i>
        {% for tag in page.tags %}
        <div class="chip">{{ tag }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <article class="post-content">
      {{ content | toc_generate }}
    </article>

    {% include share.html %}

  </div>
  </div>

  {% if page.mathjax %}
    {% include mathjax_support.html %}
  {% endif %}


  <!-- 这里是组件：评论 使用的是 gitment -->

  <div id="gitmentContainer"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <link rel="stylesheet" href="{{ '/css/comment.css' | prepend: site.baseurl }}">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>


  <script>
  const myTheme = {
    render(state, instance) {
      const container = document.createElement('div')
      container.lang = "en-US"
      container.className = 'gitment-container gitment-root-container'
      container.appendChild(instance.renderHeader(state, instance))
      container.appendChild(instance.renderEditor(state, instance))
      container.appendChild(instance.renderComments(state, instance))
      container.appendChild(instance.renderFooter(state, instance))
      return container
    },
  }

  var gitment = new Gitment({
      owner: 'yxnne',
      repo: 'yxnne.github.io',
      oauth: {
          client_id: '5e768409612b3e27d186',
          client_secret: 'a3f238eed1df9d94daa41eb627729fbaedf0596a',
      },
      theme: myTheme,
  });
  gitment.render('gitmentContainer');
  </script>
  

  <style type="text/css"> 

    .gitment-comment-main, .gitment-editor-main {
      box-shadow: 1px 2px 2px #bbb;
      background-color: white;
    }
    
    .gitment-editor-tab .gitment-selected {

      border-color: transparent; 
    }
    .gitment-editor-tab{
      color: white;

    }
    .gitment-editor-tabs {
      background-color: #5c6bc0; // theme color
      color: white;
    }
/*    .gitment-editor-main::before, .gitment-comment-main::before {
      border-width: 8px;
      border-right-color: #536dfe;
    }
*/
    .gitment-editor-login{
      color: white;
    }
    .gitment-editor-login a{
      background-color: white;
      padding: 0 10px;
      border-radius: 5px;
    }


    .gitment-comments-init-btn, .gitment-editor-submit{
        color: rgba(255,255,255,0.75);
        background-color: #4DD0E1;
        padding: 8px 24px;
        box-shadow: 2px 3px 2px #bbb;
        border-radius: 5px;
    }
    .gitment-comment-avatar, .gitment-comment-avatar-img, .gitment-comment-avatar, .gitment-editor-avatar-img, .gitment-editor-avatar svg {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    box-shadow: 2px 3px 2px #bbb;
}
  </style>
</div>
