---
layout: default
---

<div class="post-ribbon"></div>

<div class="container post-container">
  <div class="post-page card-panel z-depth-2">
  <div class="post-section">

    <p class="grey-text">
      <i class="mdi mdi-calendar"></i>&nbsp;
      {% if page.date %}{{ page.date | date: "%b %-d, %Y" }}{% else %}unknown{% endif %}
      &nbsp;&nbsp;<i class="mdi mdi-account-circle"></i>&nbsp;
      {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
      &nbsp;&nbsp;<i class="mdi mdi-label"></i>&nbsp;
      {% if page.categories %}<span class="capitalize">{{ page.categories }}</span>{% else %}unknown{% endif %}
      &emsp;<i class="mdi mdi-refresh"></i>&nbsp;UPDATE: {% if page.update %}{{ page.update | date: "%b %-d, %Y" }}{% else %}{{ page.last_modified_at | date: "%b %-d, %Y" }}{% endif %}
    </p>

    <div class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>

      {% if page.tags %}
        <i class="post-tag mdi mdi-tag-multiple waves-effect waves-light"></i>
        {% for tag in page.tags %}
        <div class="chip">{{ tag }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <article class="post-content">
      {{ content | toc_generate }}
    </article>

    {% include share.html %}

  </div>
  </div>

  {% if page.mathjax %}
    {% include mathjax_support.html %}
  {% endif %}


  <!-- 这里是组件：评论 使用的是 gitment -->

  <div id="gitmentContainer"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <link rel="stylesheet" href="{{ '/css/comment.css' | prepend: site.baseurl }}">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  const myTheme = {
    render(state, instance) {
      const container = document.createElement('div')
      container.lang = "en-US"
      container.className = 'gitment-container gitment-root-container'
      container.appendChild(instance.renderHeader(state, instance))
      container.appendChild(instance.renderEditor(state, instance))
      container.appendChild(instance.renderComments(state, instance))
      container.appendChild(instance.renderFooter(state, instance))
      return container
    },
  }

  var gitment = new Gitment({
      owner: 'yxnne',
      repo: 'yxnne.github.io',
      oauth: {
          client_id: '5e768409612b3e27d186',
          client_secret: 'a3f238eed1df9d94daa41eb627729fbaedf0596a',
      },
      theme: myTheme,
  });
  gitment.render('gitmentContainer');
  </script>

</div>
